$color-gray: #89939a;
$color-dark: #313237;
$color-light: #F3EBDD;
$color-main: #2a2922;
$color-border: #7D6542;
$color-text: #506D2F;
$color-card: #161827;
$color-lila: #905bff;
$color-hover: #efc382;
