.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 0 auto;
  flex-direction: column;
  text-align: left;
  gap: 80px;

  @include respond-to(tablet) {
    flex-direction: row;
    gap: 30px;
    padding: 40px 40px;
  }

  @include respond-to(desktop) {
    padding: 60px 120px;
  }
}

.content {
  flex: 1;
  max-width: 500px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0.8;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;

  @include respond-to(tablet) {
    font-size: 48px;
  }

  @include respond-to(desktop) {
    font-size: 68px;
  }
}

.description {
  font-size: 20px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.button {
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background: $color-main;
  border: 1px solid $color-border;
  color: $color-light;
  transition: all 0.25s ease;
  opacity: 0.8;
  text-decoration: none;

  &:hover {
    opacity: 1;
    border-color: $color-hover;
  }
}

.imageContainer {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  margin-bottom: 40px;

  @include respond-to(tablet) {
    width: 350px;
    height: 350px;
    margin-bottom: 0;
  }

  @include respond-to(desktop) {
    width: 400px;
    height: 400px;
    margin-bottom: 0;
  }
}
Àù .svgDefs {
  position: absolute;
}

.photoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: url(#circleClip);
}

.photo {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.stars {
  position: absolute;
  top: -1px;
  right: 10px;
  width: 50px;
  height: auto;
  z-index: 10;

  @media (max-width: 768px) {
    width: 50px;
    top: -5px;
    right: -5px;
  }
}

.circle2 {
  position: absolute;
  top: 14px;
  left: -13px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}

.strokes {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 10;
  top: 283px;
  left: -40px;
}
