.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-main;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border-bottom: 1px solid $color-border;
}

.logo {
  flex: 0;
  margin-inline: 16px;
  margin-block: 14px;
}

.logo_link {
  width: 120px;
  height: auto;
  display: block;
}

.logo_image {
  width: 120px;
  height: auto;
  display: block;
}

.burger {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: transparent;

  .burger_image {
    width: 16px;
    height: 16px;
  }
}

.desktopNav {
  display: none;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-right: 74px;
}

.navLink {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: $color-light;
  padding: 18px 12px;
  position: relative;

  &:hover,
  &:active {
    color: $color-light;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-light;
    }
  }
}

.isActive {
  color: $color-light;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-light;
  }
}

.desktopActions {
  display: none;
  align-items: center;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-left: 1px solid $color-border;

  &:first-child {
    border-right: 1px solid $color-border;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

@include respond-to(tablet) {
  .burger {
    display: none;
  }
  .mobileOverlay {
    display: none !important;
  }
  .desktopNav {
    display: flex;
  }
  .desktopActions {
    display: flex;
  }
}

@include respond-to(desktop) {
  .logo {
    margin-inline: 24px;
    margin-block: 18px;
  }

  .logo_link,
  img {
    width: 120px;
    height: auto;
  }

  .iconBtn {
    width: 64px;
    height: 64px;
  }

  .navLink {
    padding: 27px 12px;
  }
}

.actions {
  flex: 0;
  display: flex;
  align-items: center;
}

.languageSwitcher {
  @include respond-to(tablet) {
    padding-right: 20px;
  }
}

.logo_link {
  text-decoration: none;
  color: $color-light;
  font-weight: bold;
  font-size: 14px;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.logo_title{
  color: $color-light;
}