
.footer {
  padding: 32px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  border-top: 1px solid $color-border;

  margin-top: auto;
}

.logo_link img {
  display: flex;
  align-items: center;
  width: 89px;
  height: 32px;
}

.nav_link {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: $color-light;
    text-decoration: none;

}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.back {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.back_btn {
  background: $color-main;
  border: 1px solid $color-border;
  color: $color-light;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    border-color: $color-hover;
  }
}

.back_img {
  width: 16px;
  height: 16px;
    path {
    fill: $color-light;
  }
}

.back_text {
  font-size: 12px;
  font-weight: 700;
  color: $color-light;
}

@include respond-to(tablet) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  .nav {
    gap: 16px;
    display: flex;
    flex-direction: row;
  }
}

@include respond-to(desktop) {

  .nav {
    gap: 107px;

  }
}

.logo_link {
  text-decoration: none;
  color: $color-light;
  font-weight: bold;
  font-size: 14px;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.logo_title{
  color: $color-light;
}